body {
  background: #f06500;
  background-image: url(/images/IMG_2067.PNG);
  background-size: cover;
}

img {
  border: 22px solid #7c1414;
  box-sizing: fill;
  border-radius: 99px;
  width: fit-content;
  margin: 200px;
}
