body{
    background-color: #cdff07;
    background-image: url(/img/Arkaplan.png) ;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-size: cover;
}



#TEAM {

    margin-top: 1rem;
}


#ROADMAP {

    margin-top: 1rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;

}


#R-HEAD {

    margin-top: 9rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#T-HEAD {

    margin-top: 9rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

#ABOUT {

    margin-top: 1rem;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    
    

}

#FOOTER {

    margin-top: 20rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;

}


#RIGHTS {

    margin-bottom: 1rem;



}


#LINKS {
    
   margin-bottom: 30rem;
    position: absolute;
    margin-left: 20rem;


}



.twitter {

    width: 150px;
}

.discord {
    width: 150px;
}

a{
    margin-left: 11rem;
    max-width: 100px;
    opacity: 0;
}



@media only screen and (max-width: 600px) {
    
    #TEAM {
        margin-left: 4rem;
        margin-right: 4rem;
        margin-top: 2rem;
    }
    
    
    #ROADMAP {
    
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;

    }
    
    #ABOUT {
    
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;

    }
    
    
    #FOOTER {
    
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
    }

    #R-HEAD {
    
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 35% ;

    }

    #S-HEAD {
    
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 25% ;
   
       }


  #T-HEAD {
    
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 22% ;
   
       }


  #RIGHTS {

    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
  }




  .twitter {

    width: 25px;
}

  .discord {
    width: 25px;
}

#LINKS {

    margin-bottom: 13.5rem;
    
    margin-left: 5rem;
}


a{
    margin-left: 1rem;
    max-width: 100px;
    opacity: 0;
}

}

  